AuthUserFile /home/https://matsu-iku.github.io/portfolio/.htpasswd
AuthGroupFile /dev/null
AuthName "Input ID and Password."
AuthType Basic
require valid-user
<Files index.html>
<Files ~ "^.(htpasswd|htaccess)$">
deny from all
</Files>